body {
    font-family: 'Lobster Two', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    background-image: url(images/fondodcopy.jpg);
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

h1, h2, p, a {
    font-family: 'Lobster Two', sans-serif;
    color: #fff;
}

i {
    color: #fff;
}

button, .button {
    font-family: 'Lobster Two', sans-serif;
    color: #fff;
}

.principal {
    padding-top: 150px;
    text-align: center;
    height: 100vh;
}

.name {
    z-index: 1001;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#music-control {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    border-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001;
    outline-color: #fff;
}

#music-control:hover {
    border-color: #fff;
    outline-color: #fff;
}

.section {
    padding: 50px;
    text-align: center;
}

#bank-details {
    text-align: center;
    margin-top: 40px;
}

#bank-details .content {
    max-width: 600px;
    margin: 0 auto;
}

#bank-details-content p {
    margin: 10px 0;
}

/*#home {
    background-color: #000;
    background-image: url(images/photobcopy.jpeg);
    filter: brightness(0.7);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}*/
#home {
    background-color: #000;
    background-image: url(images/photobcopy.jpeg);
    filter: brightness(0.7); /*Ajustar valor segun gusto y necesidad*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: flex-end; /* Alinea el contenido al fondo */
    justify-content: center;
}

#home .content {
    text-align: center;
    padding-bottom: 50px; /* Espaciado desde la parte inferior */
}

#home .name {
    font-size: 4em; /* Tamaño de la fuente para el nombre */
}

#home .event {
    font-size: 2em; /* Tamaño de la fuente para "Mis XV Años" */
}

.content {
    max-width: 600px;
    margin: auto;
}

.photo, .content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer .message {
    margin: 0;
}

.whatsapp-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}

#countdown {
    text-align: center;
    margin-top: 40px;
}

#countdown .content {
    max-width: 600px;
    margin: 0 auto;
}

#countdown-timer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#countdown-timer p {
    font-size: 1.5em;
    margin: 0;
}

/* Media queries para hacer el sitio responsive */
@media (max-width: 768px) {
    .section {
        padding: 20px;
    }

    #music-control {
        top: 10px;
        right: 10px;
        padding: 5px 10px;
    }

    #countdown-timer {
        flex-direction: column;
    }
}
