body {
    font-family: 'Lobster Two', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    background-image: url(images/fondodcopy.jpg);

}

h1, h2, p, a {
    font-family: 'Lobster Two', sans-serif;
    color:#fff;
    
}

button  {
    font-family: 'Lobster Two', sans-serif;
    color:#fff;
}

.principal {
padding-top: 150px;
text-align:center;
height:100vh;

} 

.name{
    z-index: 1001;
}

#background-video {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;


}

/* Estilo para el botón de control de música */
#music-control {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0);
    /*background-color: #ff4081;*/
    color: #fff;
    border-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001;
    outline-color: #fff;
}

#music-control:hover {
   /* background-color: #e91e63;*/
    border-color: #fff;
    outline-color: #fff;

}

.section {
    padding: 50px;
    text-align: center;
}

#home {
    background-color: #000;
    background-image: url(images/photobcopy.jpeg);
    filter:brightness(0.7); /*Ajustar valor segun gusto y necesitdad*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.content {
    max-width: 600px;
    margin: auto;
}

.photo, .content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer .message {
    margin: 0;
}

.whatsapp-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}